
body { 
    background-image: url('back_halftransparent.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
    position: relative;
    color: #838383;
}



body { 
    background-image: url('back_halftransparent.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
    position: relative;
    color: #838383;
}



@keyframes drift {
  0% {
    background-position: center center;
    transform: scale(1) translate(0, 0);
  }
  50% {
    background-position: center center;
    transform: scale(1.05) translate(-10px, -5px);
  }
  100% {
    background-position: center center;
    transform: scale(1) translate(0, 0);
  }
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url('animatedoverlay.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;

  pointer-events: none;
  z-index: 2;

  opacity: 0.8;
  animation: drift 20s ease-in-out infinite; /* 20 seconds for a slow, smooth drift */
}

.contact-image {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
}
.contact-image img {
    width: auto;
    height: auto;
}


.contact-image {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
}
.contact-image img {
    width: auto;
    height: auto;
}
